In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../resources/dataset/best-countries-2024.csv')
df.head()

,population_2024,population_growthRate,land_area,country,region,unMember,population_density,population_densityMi,share_borders,Hdi2021,Hdi2020,WorldHappiness2022
0,1441719852,0.00916,3287590,India,Asia,True,484.9067,1255.9084,"AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA",0.633,0.642,3.777
1,1425178782,-0.00035,9706961,China,Asia,True,151.2174,391.6530,"AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, M...",0.768,0.764,5.585
2,341814420,0.00535,9372610,United States,North America,True,37.3673,96.7813,"CAN, MEX",0.921,0.920,6.977
3,279798049,0.00816,1904569,Indonesia,Asia,True,149.0254,385.9758,"TLS, MYS, PNG",0.705,0.709,5.240
4,245209815,0.01964,881912,Pakistan,Asia,True,318.0908,823.8551,"AFG, CHN, IND, IRN",0.544,0.543,4.516

In [5]:
df.isna().any().any()

True

In [4]:
any_nan = df.isna().any().any()

if any_nan:
    print("There are NaN values in the DataFrame.")
else:
    print("No NaN values in the DataFrame.")

There are NaN values in the DataFrame.

In [10]:
clean_df = df.dropna()
clean_df.head(10)

,population_2024,population_growthRate,land_area,country,region,unMember,population_density,population_densityMi,share_borders,Hdi2021,Hdi2020,WorldHappiness2022
0,1441719852,0.00916,3287590,India,Asia,True,484.9067,1255.9084,"AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA",0.633,0.642,3.777
1,1425178782,-0.00035,9706961,China,Asia,True,151.2174,391.6530,"AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, M...",0.768,0.764,5.585
2,341814420,0.00535,9372610,United States,North America,True,37.3673,96.7813,"CAN, MEX",0.921,0.920,6.977
3,279798049,0.00816,1904569,Indonesia,Asia,True,149.0254,385.9758,"TLS, MYS, PNG",0.705,0.709,5.240
4,245209815,0.01964,881912,Pakistan,Asia,True,318.0908,823.8551,"AFG, CHN, IND, IRN",0.544,0.543,4.516
5,229152217,0.02389,923768,Nigeria,Africa,True,251.6027,651.6511,"BEN, CMR, TCD, NER",0.535,0.535,4.552
6,217637297,0.00561,8515767,Brazil,South America,True,26.0390,67.4409,"ARG, BOL, COL, GUF, GUY, PRY, PER, SUR, URY, VEN",0.754,0.758,6.293
7,174701211,0.01010,147570,Bangladesh,Asia,True,1342.1004,3476.0401,"MMR, IND",0.661,0.655,5.155
8,143957079,-0.00337,17098242,Russia,Europe,True,8.7903,22.7668,"AZE, BLR, CHN, EST, FIN, GEO, KAZ, PRK, LVA, L...",0.829,0.830,5.459
9,129719719,0.02523,1104300,Ethiopia,Africa,True,114.9415,297.6986,"DJI, ERI, KEN, SOM, SSD, SDN",0.498,0.498,4.241

In [9]:
clean_df.isna().any().any()

False

In [11]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 129 entries, 0 to 138
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   population_2024        129 non-null    int64
 1   population_growthRate  129 non-null    float64
 2   land_area              129 non-null    int64
 3   country                129 non-null    object
 4   region                 129 non-null    object
 5   unMember               129 non-null    bool
 6   population_density     129 non-null    float64
 7   population_densityMi   129 non-null    float64
 8   share_borders          129 non-null    object
 9   Hdi2021                129 non-null    float64
 10  Hdi2020                129 non-null    float64
 11  WorldHappiness2022     129 non-null    float64
dtypes: bool(1), float64(6), int64(2), object(3)
memory usage: 12.2+ KB